
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

/* ======== All Bars (Search Bar, Filter Bar, Sort) ======== */

.search-btn,
#search-bar,
.dropdown-btn {
  color: white;
}

#main-bar,
#search-bar,
.dropdown-btn,
.search-btn {
  background-color: #4db6ac;
}

#search-bar,
.dropdown-btn {
  padding: 16px;
  font-size: 16px;
  width: 200px;
  border: none;
}
/* ======================= Seach Bar ======================= */

input {
  margin: 20px 0;
  margin-left: 20px;
  font-size: 30px;
  background-color: #82e9de;
  border-color: #82e9de;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border-color: #d3e4e3;
  box-shadow: 0 0 5px #d3e4e3;
}

input::placeholder {
  color: #b2fef7;
}

.search-btn img {
  height: 30px;
  padding-top: 5px;
}

.search-btn {
  position: absolute;
  border: none;
  margin-top: 19px;
}

.search-btn:focus {
  opacity: 0.5;
  outline: none;
}



/* ================= Filter Dropdown Menus ================= */
.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #82e9de;
  outline: none;
}

/* dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* hidden dropdown list */
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  max-height: 500px;
  overflow-y :auto;
  overflow-x:hidden;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-list p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list p:hover {
  background-color: #ddd
}

/* shows dropdown menu */
.show {
  display: block;
}



/* ======================= Filter Bar ====================== */

/* #filter-bar-div {
  display: none;
}

.dropdown {
  display: none;
} */

#filter-bar {
  display: flex;
}
