* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 5vw;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
}

/* ======== All Bars (Search Bar, Filter Bar, Sort) ======== */


#filt-and-sort{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.search-btn,
#search-bar,
.dropdown-btn {
  color: white;
}

#banner,
#search-bar,
.dropdown-btn,
.search-btn {
  background-color: #4db6ac;
}

#search-bar,
.dropdown-btn {
  font-size: 16px;
  width: 200px;
  border: none;
}

/* ======================= Seach Bar ======================= */
form {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}
input {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 30px;
  font-size: 20px;
  width: 30%;
  min-width: 270px;
  background-color: #82e9de;
  border-color: #82e9de;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border-color: #d3e4e3;
  box-shadow: 0 0 5px #d3e4e3;
}

input::placeholder {
  color: #b2fef7;
}

.search-btn img {
  height: 30px;
  padding-top: 5px;
}

.search-btn {
  display: inline;
  border: none;
  margin-top: 19px;
}

.search-btn:focus {
  opacity: 0.5;
  outline: none;
}



/* ================= Filter Dropdown Menus ================= */

.dropdown-btn {
  padding-bottom: 5px;
}

.click-arrow,
.sort-opt {
  font-size: 12px;
  width: 250px;
}

.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #82e9de;
  outline: none;
}

/* dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* hidden dropdown list */
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  max-height: 500px;
  overflow-y :auto;
  overflow-x:hidden;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-list p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list p:hover {
  background-color: #ddd
}

/* shows dropdown menu */
.show {
  display: block;
}

/* ===================== Sort Btn ==================== */

#sort {
  right: 0;
}

.sort-opt {
  width: 168px;
}

/* ============ List of what is filtered ============= */

.filter-list {
  width: 90%;
  margin: auto;
  display: flex;
}

.filter-list p {
  margin-left: 20px;
}

.filter-word {
  display: flex;
}

.rmv-btn {
  position: relative;
  border: none;
  top: 1px;
}

/* ================== Books in List ================== */

.book-list-txt {
  align-content: center;
}

#outer-booklist-div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.book-list {
  width: 90%;
  height: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  justify-content: center;
  grid-gap: 1rem 1rem;
}

/* sets list to left when there are 2 books or less  */
.short-book-list {
  justify-content: left;
}

.small-img {
  height: 70px;
  margin-top: 10px;
  margin-right: 10px;
}

.small-book {
  background-color: #f5f5f5;
  width: 350px;
  height: 150px;
  margin: 10px;
  border-radius: 5px;
}

.smll-book-inner {
  margin: 10px 20px;
  height: 130px;
  position: absolute;
}

.img-info-div {
  display: flex;
}

.img-info-div p,
h3 {
  color: black;
}

h3 {
font-size: 17px;
}

.book-list a {
  text-decoration: none;
}

.smll-info-div {
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  .dropdown-btn {
    width: 100px;
  }
  #filter-bar {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 795px) {
  .book-list {
    grid-gap: 1px 16px;
  }

}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 32px;
  }

}

@media only screen and (max-width: 415px) {


/* ----- main bar search/filter/sort ----- */

  .dropdown-btn {
    width: 80px;
    font-size: 14px;
  }

  #sort-btn {
    width: 50px;
  }

  .click-arrow {
    font-size: 7px;
  }

  #filter-bar {
    margin-left: 0;
  }

  .dropdown-list p {
    font-size: 15px
  }

  .dropdown-list .sort-opt {
    font-size: 12px
  }

/* ----- book list ----- */

  .book-list {
    width: 330px;
  }
  .small-book {
    width: 330px;
  }
  .book-list-txt {
    width: 330px;
  }

}

@media only screen and (max-width: 415px) {

  .dropdown-btn {
    width: 80px;
    font-size: 14px;
  }

  #sort-btn {
    width: 50px;
  }

  .click-arrow {
    font-size: 7px;
  }

  #filter-bar {
    margin-left: 0;
  }

  .dropdown-list p {
    font-size: 15px
  }

  .dropdown-list .sort-opt {
    font-size: 12px
  }

}


/* ================== Book with Details ================== */

.book-dets-div {
  position: relative;
  background-color: #f5f5f5;
  margin: auto;
  margin-top: 20px;
  width: 95%;
  border-radius: 10px;
}

.title-info-div {
  display: flex;
  margin: auto;
}

.book-dets-div button {
  position: absolute;
  background-color: #f5f5f5;
  border-width: 2px;
  border-color: white;
  height: 25px;;
  top: 1%;
  right: 1%;
}

.book-dets-div img {
  height: 30vw;
  margin: 30px;
}

.lrg-book-info {
  margin-right: 30px;
}

.book-dets-div h2 {
  font-size: 5vw;
  margin-top: 21px;
}

.book-dets-div h5 {
  font-size: 17px;
}

.sub-list p {
  display: inline;
}

.subj-title,
.pub-list-title {
  margin: 15px;
  margin-left: 30px;
}

.sub-list,
.pub-list {
  margin-left: 30px;
  margin-right: 30px;
}

