
* {
  margin: 0;
}

/* ======== All Bars (Search Bar, Filter Bar, Sort) ======== */

#search-bar,
.dropdown-btn {
  background-color: #19cecb;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 200px;
  border: none;
  cursor: pointer;
}

/* ================= Filter Dropdown Menus ================= */
.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #16b0ad;
}

/* dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* hidden dropdown list */
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  max-height: 500px;
  overflow-y :auto;
  overflow-x:hidden;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-list p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list p:hover {
  background-color: #ddd
}

/* shows dropdown menu */
.show {
  display: block;
}



/* ======================= Search Bar ====================== */

#filter-bar-div {
  display: none;
}

.dropdown {
  display: none;
}

.show-filter {
  background-color: red
}
