* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 5vw;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h4 {
  text-align: center;
}

/* ======== All Bars (Search Bar, Filter Bar, Sort) ======== */


#filt-and-sort{
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.search-btn,
#search-bar,
.dropdown-btn {
  color: white;
}

#banner,
#search-bar,
.dropdown-btn,
.search-btn {
  background-color: #4db6ac;
}

#search-bar,
.dropdown-btn {
  font-size: 16px;
  width: 200px;
  border: none;
}

/* ======================= Seach Bar ======================= */

input {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 50px;
  font-size: 20px;
  width: 30%;
  min-width: 270px;
  background-color: #82e9de;
  border-color: #82e9de;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border-color: #d3e4e3;
  box-shadow: 0 0 5px #d3e4e3;
}

input::placeholder {
  color: #b2fef7;
}

.search-btn img {
  height: 30px;
  padding-top: 5px;
}

.search-btn {
  position: absolute;
  border: none;
  margin-top: 19px;
}

.search-btn:focus {
  opacity: 0.5;
  outline: none;
}



/* ================= Filter Dropdown Menus ================= */

.dropdown-btn {
  padding-bottom: 5px;
}

.click-arrow,
.sort-opt {
  font-size: 12px;
  width: 250px;
}

.dropdown-btn:hover, .dropdown-btn:focus {
  background-color: #82e9de;
  outline: none;
}

/* dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
}

/* hidden dropdown list */
.dropdown-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  max-height: 500px;
  overflow-y :auto;
  overflow-x:hidden;
  box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-list p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-list p:hover {
  background-color: #ddd
}

/* shows dropdown menu */
.show {
  display: block;
}

/* ===================== Sort Btn ==================== */

#sort {
  right: 0;
}

.sort-opt {
  width: 160px;
}

/* ================== Books in List ================== */

.book-list-txt {
  align-content: center;
}

#outer-booklist-div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /* background-color: #86ebb4; */
}

.book-list {
  width: 90%;
  height: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1rem 1rem;
  /* background-color: #4db6ac; */
}

.small-img {
  height: 70px
}

.small-book {
  background-color: #f5f5f5;
  /* width: 50%; */
  margin: 10px;
}




@media only screen and (max-width: 650px) {
  h1 {
    font-size: 32px;
  }

}

@media only screen and (max-width: 380px) {
  input {
   margin-left: 30px;
  }
}

@media only screen and (max-width: 800px) {
  .dropdown-btn {
    width: 100px;
  }
  /* #filter-bar {
    margin-left: 10px;
  } */
}

@media only screen and (max-width: 415px) {

  .dropdown-btn {
    width: 80px;
    font-size: 14px;
  }

  .click-arrow {
    font-size: 7px;
  }

  #filter-bar {
    margin-left: 0;
  }

  .dropdown-list p {
    font-size: 15px
  }

  .dropdown-list .sort-opt {
    font-size: 12px
  }


}

@media only screen and (max-width: 360px) {
  input {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 335px) {
  input {
    margin-left: 7px;
  }
}
